.card{
    background-color: var(--secondary-color);
    
}

input[type = text],input[type = email]{
   width: 100%;
}

.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.subs-text{
    /* width: 500px; */
}
.has-error .form-control {
    border-color: #a94442;
  }
  
  .has-error .alert-danger {
    color: #a94442;
  }
  