<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quidem perspiciatis culpa consequatur aperiam consequuntur unde dolores quam asperiores possimus similique rerum maxime, neque, suscipit, ipsa natus distinctio non hic.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, non ex! Deleniti iure, adipisci, maiores sint laudantium magni a, fugit dolorem illo officiis magnam dolorum temporibus ex quibusdam laborum voluptates.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum adipisci dolore aperiam, asperiores doloremque aliquid nemo aliquam cumque hic nam similique repudiandae eos assumenda minima a officia. Numquam, dolorum ratione?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est magni sed, ullam sit assumenda ex! Non, itaque laborum error sequi rerum totam omnis vero et? Repellendus possimus corrupti accusamus voluptatem.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>