<div class="card shadow-effect">
    <img src="./../../../assets/360_F_535473874_OWCa2ohzXXNZgqnlzF9QETsnbrSO9pFS.jpg" alt="" srcset="">
    <div class="card-body">
        <small class="bg-ligt text-danger text-center">Design</small>
        <small class="bg-ligt text-success text-center">Featured</small>
        <small class="bg-ligt text-info text-center">views - 1200</small>
        <h5 class="mt-4" >How to start Blo 2020 Edition</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti aliquam voluptate minus similique omnis delectus ad. Suscipit aliquam ullam aut quas earum laborum, veniam quis debitis odio delectus pariatur explicabo.</p>
        <small class="bg-ligt text-Warning text-center">Last Updated - 1st Jan 2024</small>
        
    </div>
</div>